---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { headerData } from '~/navigation';
import { headerDataDe } from '~/navigation';
import { getRelativeLocaleUrl } from 'astro:i18n';



const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerDataDe}
      actions={[
        {
          variant: 'primary',
          text: 'Kontakt aufnehmen',
          href: 'de#contact',
        },
      ]}
      isSticky
      showToggleTheme
      homehref={getRelativeLocaleUrl('de')}
    />
  </Fragment>
    <!-- ContactUs Widget ****************** -->
  
    <ContactUs
    id="form"
    title="Haben Sie noch Fragen? Schreiben Sie mir gerne eine Nachricht!"
    subtitle="Sie können sich jederzeit melden und eine Nachricht hinterlassen. Ich werde so bald wie möglich darauf eingehen!"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Nachricht',
    }}
    button="Senden"
    disclaimer={{
      label:
        'Mit dem Absenden dieses Kontaktformulars erklären Sie sich mit der Erfassung Ihrer persönlichen Daten einverstanden.',
    }}
    description="Ich antworte in der Regel Werktags innerhalb von 24 Stunden."
  />

    <!-- FAQs Widget ******************* -->

    <FAQs
    title="Häufig gestellte Fragen"
    items={[
      {
        title: 'Auf welche Arten von Projekten sind Sie spezialisiert?',
        description:
          "Zu meinen Spezialgebieten gehören digitale Zwillinge, fortgeschrittene Simulationen und Kontruktionen im CAD. Ich habe auch Erfahrung in der Entwicklung von Softwarelösungen und der Gestaltung von Produkten und Grafiken zur Unterstützung verschiedener technischer und geschäftlicher Anforderungen.",
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Wie stellen Sie den Erfolg von Projekten in verschiedenen Industrien sicher?',
        description: "Ich stelle den Projekterfolg sicher, indem ich die besonderen Anforderungen jeder Branche genau verstehe, einen lösungsorientierten Ansatz verfolge und meine umfassende Erfahrung in verschiedenen Branchen einsetze. Ich lege Wert auf klare Kommunikation, solide Planung und kontinuierliche Zusammenarbeit mit den Beteiligten, um die Projektziele zu verwirklichen.",
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Bieten Sie Beratungsdienstleistungen an?',
        description:
          "Ja, ich biete Beratungsdienste an, die sich auf die Implementierung fortschrittlicher Technologien wie digitale Zwillinge, Automatisierung und andere Herausforderungen, einschließlich Industrie 4.0-Initiativen, konzentrieren. Ganz unabhängig davon, ob Sie Unterstützung bei der Programmierung, der Systemoptimierung oder bei maschinenbaulichen Herausforderungen benötigen, ich bin da, um Ihr Unternehmen bei Innovation und Wachstum zu unterstützen.",
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Wie kann man sich mit Ihnen für ein Projekt oder eine Zusammenarbeit in Verbindung setzen?',
        description: `Sie können mich über das Kontaktformular auf dieser Website kontaktieren, eine E-Mail an [Ihre E-Mail-Adresse] senden oder sich mit mir auf LinkedIn verbinden. Ich bin immer offen für Gespräche über neue Projekte, Kooperationen oder Anfragen, die Sie haben`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-[#BECFFF] dark:bg-transparent"></div>
  </Fragment>

    </FAQs>

   
</Layout>
